.root {
    -font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-background: #FCE6E9; 
}

.button {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.circle {
    -fx-shape: "M 50, 50 m -50, 0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0";
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-border-radius: 50%;
    -fx-wrap-text: true;
    -fx-content-display: center;
}